.listings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.listings-available {
  display: flex;
  align-items: center;
}

.listings-available label {
  margin-left: 10px; /* Adjust margin as needed */
}

.listings-available input[type="checkbox"] {
  margin-right: 5px; /* Adjust margin as needed */
}

.listings input[type="checkbox"] {
  float: left;
  display: flex;
}

/* Title Styling */
.listings h1 {
  color: black;
  margin-bottom: 20px;
  font-size: 2rem;
}

.listings label {
  color: black;
}
.listings ul {
  color: black;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.listings li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.listings li:hover {
  background-color: #f0f0f0;
}

.item-name {
  font-weight: bold;
  color: #4CAF50;
}

.item-status {
  font-style: italic;
  color: #888;
}

