/* Register.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #dbe7de, #206730); /* Gradient background */
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  width: 350px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Box shadow */
  text-align: center;
}

.register-box h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #205e1a; /* Update color if desired */
}

.register-box label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
  /* Remove this section if not needed */
}

.forgot-password a {
  color: #777;
  font-size: 12px;
  text-decoration: none;
}

.register-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #57c657, #2c5639); /* Gradient button */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover {
  background: linear-gradient(135deg, #5b7dfa, #916fd4);
}

/* Remove these sections if not needed for Register */
.social-login {
  margin-top: 20px;
}
